<h3><i class="fas fa-book-reader"></i></h3>


<div class="login-section">
    <div class="section">
        <h2 id="intro">What did you learn today?</h2>
    </div>


    <div class="login-body">
        <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In</a>
    </div>

    
</div>

<div class="created-by">
    <span>Created by
        <a href="https://jl-portfolio.netlify.app/"> Jimmy Li</a>
    </span>
</div>