img {
    width: 400px;
}

.img-small {
    width: 130px;
}

p {
    margin: 10px 0 !important;
}

.login-container { 
    font-size: 16px !important;
}

.fa-small { 
    font-size: 16px !important;
}

.btn-float { 
   float: left;
   margin-right: 10px; 
}

#delete-form { 
    display: flex;
}

